html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.clearfix:before,
	.clearfix:after {       
    content: "";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}

.clearfix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.top{
	background-color: #2b2e33;
	overflow: hidden;
}
.topon{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}
.topon>div{
	float: left;
}
.top .menu{
	margin-left: 56px;
	font-size: 25px;
}
.top .menu a{
	color: #6f7478;
	line-height: 90px;
}
.top .logo{
	padding-top: 61px;
	width: 190px;
	background: url(../images/logo_03.png) no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -95px;
	top: 15px;
}
.top .topright{
	float: right;
	overflow: hidden;
}
.top .topright>div{
	float: left;
	color: #707378;
}
.top .topright a{
	color: #707378;
	display: inline-block;
	line-height: 90px;
}
.top .topright .one{
	display: none;
}
.top .search{
	font-size: 36px;
}
.top .shoppingbag{
	margin-left: 68px;
	font-size: 36px;
}
.top .login{
	margin-left: 45px;
	font-size: 14px;
	padding-right: 40px;
}
.main_top{
	width: 1200px;
	margin: 0 auto;
	background-color: #fdd900;
	padding-top: 24px;
	
}
.main_top h2{
	font-size: 30px;
	line-height: 60px;
	border-left: 5px solid #000;
	float: left;
	margin-right: 12px;
	padding-left: 19px;
}
.main_top p{
	float: left;
	font-size: 24px;
	line-height: 60px;
	margin-left: 20px;
}
.main_top span{
	color: red;
}
.main_top div:nth-child(1){
	margin:0 0 15px 50px;
	float: left;
}
.main_top div:nth-child(2){
	float: right;
	margin-right: 50px;
}
.main_top div:nth-child(2) p{
	border-bottom: 2px solid #000;
}
.main_top div em{
	float: left;
	font-size: 24px;
	line-height: 60px;
    font-weight: bold;
    border-bottom: 5px solid #000; 
}
.main_top div img{
	margin-bottom: -4px;
}
section{
	background: url(../images/bg_19.png);
}
