html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.clearfix:before,
	.clearfix:after {       
    content: "";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}

.clearfix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.banner{
	margin: 0 auto;
	width: 1128px;
	padding: 28px 36px;
	background: url('../images/lunbo_bg_03.png');
}
.swiper-container {
    width: 1100px;
  
}
.swiper-slide{
} 
/*.swiper-button-prev{
	background:rgba(0,0,0,0.5);
}
.swiper-button-next{
	background:rgba(0,0,0,0.5);
}*/
.main{
	width: 1100px;
	padding: 30px 50px 26px 50px;
	margin: 0 auto;
	background-color: #2b2e33;
}
.main_up>div{
	float: left;
}
.main_up_l>div:first-child{
	margin-bottom: 62px;
}
.main_up_l>div:first-child>img{
	display: block;
	float: left;
}
.main_up_l>div:first-child>h3{
	width: 395px;
	font-size: 36px;
	color: #fff;
	margin-left: 30px;
	float: left;
}
.main_up_l>div:nth-child(2){
	width: 418px;
	
	float: left;
}
.main_up_l>div h4{
	font-size: 14px;
	color: #585b60;
	margin-bottom: 5px;
}
.main_up_l>div:nth-child(2)>div{
	border-radius: 8px;
	background-color: #707378;
	color: #fdd900;
	text-align: center;
	font-size: 32px;
	position: relative;
	padding-bottom: 20px;
}
.main_up_l>div:nth-child(2)>div>div>b{
	display: inline-block;
	width: 85px;
	
}
.main_up_l>div:nth-child(2)>div>div:nth-child(2){
	position: absolute;
	top: 20px;
}
.main_up_l>div:nth-child(2)>div>div>span{
	display: inline-block;
	text-align: center;
	font-size: 12px;
	width: 96px;
	line-height: 21px;
}
.main_up_l>div:last-child{
	width: 151px;
	margin-left: 10px;
	float: left;
}
.main_up_l>div:last-child>a{
	border-radius: 5px;
}
.main_up_l p{
	font-size: 16px;
	color: #fff;
	margin: 12px 0 0 0;
	line-height: 16px;

}
.main_up_l p>a{
	margin-left: 10px;
}
.main_up_r{
	width: 418px;
	margin-left: 50px;
	border-left: 2px solid #fff;
	padding-left: 50px;
}
.main_up_r ul{
	margin-bottom: -30px;
}
.main_up_r li{
	overflow: hidden;
	margin-bottom: 30px;
}
.main_up_r li>span{
	display: block;
	width: 64px;
	float: left;
	border-radius: 8px;
	font-size: 14px;
	line-height: 26px;
	background-color: #fff;
	text-align: center;

}
.main_up_r li>div{
	float: left;
	margin-left: 30px;
	overflow: hidden;
	width: 323px;
}
.main_up_r li:nth-child(1)>div b{
	font-size: 18px;
	color: #fbd900;
	font-weight: bold;
	display: block;
}
.main_up_r li:nth-child(1)>div b>span{
	font-size: 28px;
}
.main_up_r li:nth-child(1)>div>span{
	display: block;
	color: #fff;
	font-size: 14px;
}
.main_up_r li a{
	/*float: left;*/
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 26px;
	text-align: center;
}
.main_up_r li .active{
	border: 1px solid #fbda00;
	color: #fbda00;
}
.main_up_r li:nth-child(2)>div>a{
	width: 80px;
	
}
.main_up_r li:nth-child(3)>div>a{
	width: 65px;
}

.main_up_r li:nth-child(4)>div>a{
	width: 69px;
	line-height: 38px;
}
.main_up_r li:nth-child(4)>div>span:nth-child(2){
	text-align: center;
	color: #fff;
	display: inline-block;
	width: 160px;
}
.main_up_r li:nth-child(4)>div>a:nth-child(3){
	float: right;
}
.main_up_r>p{
	font-size: 14px;
	color: #fff;
	margin-bottom: 7px;
}
.main_up_r>p>span{
	color: #fcd901;
}
.main_up_d{
	padding:20px 50px;
	border-top: 2px solid #4f4f4f;
	border-bottom: 2px solid #4f4f4f;
	margin-top: 21px;
}
.main_up_d>a{
	display: block;
	line-height: 84px;
	border: 3px solid #fdd900;
	font-size: 26px;
	text-align: center;
	border-radius: 8px;
	color: #fdd900;
}
.main_down{
	margin-left: -50px;
}
section{
	background: url(../images/bg_19.png);
}